<mat-card style="width: 100%;height: 1000px;">
  <mat-card-header>
    <mat-card-title>Chat Area</mat-card-title>
    <mat-card-subtitle>Say Something!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngFor="let message of webSocketService.chatMessages">
    <mat-card>
      <mat-card-content>{{message.writer}} : {{message.contents}}</mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-content>
    <form [formGroup]="chatFormGroup">
      <fieldset>
        <label>
          <input type="text" value="{{user.userName}}" [disabled]="true" style="width: 15%;display: inline;">
          &nbsp;
          <input type="text" [formControl]="contents" style="width: 84%;display: inline;">
        </label>
        <button (click)="sendMessage()">Enter</button>

      </fieldset>
    </form>
  </mat-card-content>
</mat-card>
