<mat-toolbar>
  &nbsp;&nbsp;&nbsp;
  <span>Chat App</span>
</mat-toolbar>

<mat-grid-list cols="3" rowHeight="100%">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
<mat-card style="width: 500px; height: 350px">
  <mat-card-header>
    <mat-card-title>SIGN IN</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="signInFormGroup">
      <fieldset>
        <label>Username</label>
        <div style="height: 20px">
        <div *ngIf="username.invalid && (username.dirty || username.touched)" style="color: red">

          <div *ngIf="username.errors.required">
            username must be required
          </div>

          <div *ngIf="username.errors.minlength">
            username must be at least 5 characters long
          </div>

          <div *ngIf="username.errors.maxlength">
            username must be at most 255 characters long
          </div>
        </div>
        </div>
        <input type="text" [formControl]="username">
      </fieldset>
      <fieldset>
        <label>Password</label>
        <div style="height: 20px">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" style="color: red">

          <div *ngIf="password.errors.required">
            password must be required
          </div>

          <div *ngIf="password.errors.minlength">
            password must be at least 5 characters long
          </div>

          <div *ngIf="password.errors.maxlength">
            password must be at most 255 characters long
          </div>
        </div>
        </div>
        <input type="password" [formControl]="password">
      </fieldset>
      <fieldset>
        <button (click)="signIn()">ENTER</button>
      </fieldset>
    </form>
  </mat-card-content>
</mat-card>
  </mat-grid-tile>
</mat-grid-list>
